
/* FORMATAÇÃO PADRÃOP DO CSS */
* {
    box-sizing:border-box;
    font-family: 'Courier New', Courier, monospace;
}

/* FORMATAÇÃO PADRÃOP DO CSS */
body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background: #eeeeee;
}

/* FORMATAÇÃO PADRÃO DO CSS PARA DEIXAR RENDERIZADO E CENTRALIZADO */
h1 {
    text-align: center;
    font-size: 3rem;
}

/* FORMATAÇÃO PADRÃO DO CSS PARA DEIXAR RENDERIZADO E CENTRALIZADO */
header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 90%;
    margin: auto auto;
}

input {
    height: 95px;
    font-size: 2rem;
    width: 80%;
    padding-left: 10%
}

.botaoAdd {
    width: 20%;
    /* AQUI ELE COLOCA O MOUSE DE CLICAR */
    cursor:pointer;
    background: green;
    color:white;
    /* COLOCA ESTILIZAÇÃO NA FONTE E DEIXA EM NEGRITO */
    font-weight: bold;
    border:none;
    height: 95px;
    /* DEIXA A BORDA DA DIRENTA DE CIMA E DE BAIXO REDONDAS */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    
}

.botaoAdd:hover{
    background-color:rgb(4, 84, 4);
    
}

.icone-adicionar{
    height:35px;
}
 
/* CRIEI UMA DIV PARA COLOCAR O GIF DENTRO DO INPUT */
.input-container{
    position: relative;
    width: 80%;
}

/* CRIEI UMA DIV PARA COLOCAR O GIF DENTRO DO INPUT */
.input-container input {
    padding-left: 100px;
    height: 95px;
    font-size: 2rem;
    width: 100%;
    border-radius: 5px 0 0 5px;
    border:none;
}

/* CRIEI UMA DIV PARA COLOCAR O GIF DENTRO DO INPUT */
.input-icon{
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    pointer-events:none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* CONFIGURANDO O CAMPO PRINCIPAL */
main {
    /* FORMATAÇÃO PADRÃO DO CSS PARA DEIXAR RENDERIZADO E CENTRALIZADO */
    display:flex;
    flex-flow : row wrap;
    width: 90%;
    margin: auto auto;
    /*border : solid 1px blue;*/
    padding-top: 20px;
    margin-top: 2%;
}


/* CONFIGURA A DIV PRINCIPAL */
.item{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background:white;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 20px #ccc;
    margin-bottom: 2%;
    cursor:pointer;
}

.item.clicado{
    background-color: rgb(225, 250, 225);
}

.item.clicado .item-nome{
    text-decoration: line-through;
}

/* FAZ A SEPARAÇÃO DOS CAMPOS */
/* CRIA O CAMPO DO ICONE */
.item-icone{
    flex: 10%;
    /* CENTRALIZA O ICONE */
    text-align: center;
    font-size:3rem;
}

/* FAZ A SEPARAÇÃO DOS CAMPOS */
/* CRIA O CAMPO DE TEXTO */
/* CONFIGURA PARA NAO QUEBRAR A LINHA SE DIGITAR DEMAIS, ESCONDER O QUE DIGITOU E COLOCAR O ... */
.item-nome{
    flex: 75%;
    /*border: 1px solid red;*/
    font-size: 20px;
    font-weight: bold;
    /* EVITA QUEBRAR A LINHA */
    white-space:nowrap;
    /* ESCONDE O QUE ULTRAPASSOU O LIMITE */
    overflow: hidden;
    /* DEIXA OS TRÊS PONTINHOS CASO ULTRAPASSE */
    text-overflow: ellipsis;

}

/* FAZ A SEPARAÇÃO DOS CAMPOS */
/* CRIA O CAMPO DO BOTÃO DELETAR */
.item-botao{
    flex: 15%;
    /*border: 1px solid black;*/
    text-align: center;
}

.icone-aberto{
    width: 25px;
}

.botao-deletar{
    background: red;
    border: none;
    padding: 15px;
    width: 100%;
    height: 80px;
    color:white;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.botao-deletar:hover{
    background: rgb(164, 5, 5);
}

.icone-deletar{
    width: 20px;
}

.clicado {
    text-decoration: dotted; 
}

/* FUNCIONA COMO SE FOSSE UM if() DO CSS - 
   QUANDO A TELA FICAR DESSE TAMANHO AS ESPECIFICAÇÕES FICARAM COM ESTES TAMANHOS */

@media (max-width: 600px){

    .texto-botao{
        display: none;
    }

    /* ARRUMA OS TAMANHOS */
    .input-container{
       
        width: 100%;
    }

    /* ARRUMA OS TAMANHOS */
    .input-container .campoTexto{
        font-size: 1.1rem;
        border-radius: 5px;
        padding-left: 60px;
        height: 75px;
    }

    /* ARRUMA OS TAMANHOS */
    .input-container .input-icon{
        height: 20px;
        left: 18px;
    }

    /* ARRUMA OS TAMANHOS */
    .botaoAdd{
        width: 100%;
        height: 50px;
        border-radius: 5px;
    }

    /* MUDA O LAYOUT PADRÃO QUE FOI ADICIONADO ANTERIORMENTE
       PARA UM LAYOUT PADRÃO PARA MOBILE */
    header{
        
        flex-direction: column;
        align-items:stretch;
        gap: 5px;
    }

       .texto-deletar{
        display: none;
    }

    /* ARRUMA OS TAMANHOS */
    .botao-deletar{
    padding: 15px;
    flex: 25%;
    height: 70px;
    /* DEIXA SÓ AS BORDAS DA DIRETA ARREDONDADADAS */
    border-radius: 0 5px 5px 0;
    }

    /*TIRA O TEXTO QUANDO MUDA PARA MOBILE */
    /* MUDAR AS CONFIGURAÇÕES DO LAYOUT PADRÃO
    ARRUMA PARA QUE BOTÃO DELETAR FIQUE NA MESMA LINHA DE TAREFAS */
    .item{
        flex-direction: row;
        flex-wrap: nowrap;
        height: 70px;
        border-radius: 5px;
    }

    /* ARRUMA OS TAMANHOS */
    .item-nome{
    flex: 60%;
    font-size: 1.1rem;
    }

    /* ARRUMA OS TAMANHOS */
    .item-icone{
    flex: 15%;
    /* CENTRALIZA O ICONE */
    text-align: center;
    font-size:0.5rem;
    }

}

